<?php defined('BASEPATH') OR exit('No direct script access allowed');

$config['run_setup'] = FALSE;
$config['PULSEISP_VERSION'] = '0.0.0.1';
$config['FREERADIUS_VERSION'] = '3';

$config['CONFIG_DB_ENGINE'] = 'mysqli';
$config['CONFIG_DB_HOST'] = 'localhost';
$config['CONFIG_DB_USER'] = 'root';
$config['CONFIG_DB_PASS'] = '';
$config['CONFIG_DB_NAME'] = 'pulseisp_db';


$config['CONFIG_DB_TBL_ACTIVITY_LOG'] = 'ci_activity_log';
$config['CONFIG_DB_TBL_ACTIVITY_STATUS'] = 'ci_activity_status';
$config['CONFIG_DB_TBL_ADMIN'] = 'ci_admin';
$config['CONFIG_DB_TBL_ADMIN_ROLE'] = 'ci_admin_role';
$config['CONFIG_DB_TBL_AUDIT_TRAIL'] = 'ci_audit_trail';
$config['CONFIG_DB_TBL_CITY'] = 'ci_city';
$config['CONFIG_DB_TBL_COMPANY'] = 'ci_company';
$config['CONFIG_DB_TBL_CURRENCY'] = 'ci_currency';
$config['CONFIG_DB_TBL_EMAIL_TEMPLATE'] = 'ci_email_template';
$config['CONFIG_DB_TBL_EMAIL_TEMPLATE_VARIABLE'] = 'ci_email_template_variable';
$config['CONFIG_DB_TBL_GENERAL_SETTING'] = 'ci_general_setting';
$config['CONFIG_DB_TBL_LANGUAGE'] = 'ci_language';
$config['CONFIG_DB_TBL_LANGUAGE_KEY'] = 'ci_language_key';
$config['CONFIG_DB_TBL_MODULE'] = 'ci_module';
$config['CONFIG_DB_TBL_MODULE_ACCESS'] = 'ci_module_access';
$config['CONFIG_DB_TBL_PAYMENT'] = 'ci_payment';
$config['CONFIG_DB_TBL_PROFILE'] = 'ci_profile';
$config['CONFIG_DB_TBL_PROFILE_COMPONENT'] = 'ci_profile_component';
$config['CONFIG_DB_TBL_REALM'] = 'ci_realm';
$config['CONFIG_DB_TBL_STATE'] = 'ci_state';
$config['CONFIG_DB_TBL_SUB_MODULE'] = 'ci_sub_module';
$config['CONFIG_DB_TBL_UPLOADED_FILE'] = 'ci_uploaded_file';
$config['CONFIG_DB_TBL_USER'] = 'ci_user';
$config['CONFIG_DB_TBL_DATA_ACCOUNT'] = 'data_account';
$config['CONFIG_DB_TBL_DATA_ACCOUNT_STAT'] = 'data_account_stat';
$config['CONFIG_DB_TBL_LINK_RADIPPOOL_DATA_ACCOUNT'] = 'link_radippool_data_account';
$config['CONFIG_DB_TBL_LINK_USER_DATA_ACCOUNT'] = 'link_user_data_account';
$config['CONFIG_DB_TBL_RADACCT'] = 'radacct';
$config['CONFIG_DB_TBL_RADCHECK'] = 'radcheck';
$config['CONFIG_DB_TBL_RADDICTIONARY'] = 'raddictionary';
$config['CONFIG_DB_TBL_RADGROUPCHECK'] = 'radgroupcheck';
$config['CONFIG_DB_TBL_RADGROUPREPLY'] = 'radgroupreply';
$config['CONFIG_DB_TBL_RADIPPOOL'] = 'radippool';
$config['CONFIG_DB_TBL_RADNAS'] = 'radnas';
$config['CONFIG_DB_TBL_POOL_NAME'] = 'radnas_pool_name';
$config['CONFIG_DB_TBL_RADPOSTAUTH'] = 'radpostauth';
$config['CONFIG_DB_TBL_RADREPLY'] = 'radreply';
$config['CONFIG_DB_TBL_RADUSERGROUP'] = 'radusergroup';
$config['CONFIG_DB_TBL_RADHG'] = 'radhuntgroup';
